.barraNavegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transition: all 0.5s linear 0.5s;
    li{
        list-style-type: none;
        margin: 1rem 0rem 1rem;
    }
}

