@media(min-width: 1024px)
{       
    .portada{
    background-image: url(../images/fotobanner.jpg);
    background-size: cover;
    background-repeat: round;
    width: 100vw;
    height: 50vh; 
    }
    .barraNavegacion li:hover{
    font-size: 2.5rem;
    color: #b1106e;
    }
    .redes i:hover{
    font-size: 2.5rem;
    color: #b1106e;
    }
}