*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #4bd8d1e8
}
.barraNavegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transition: all 0.5s linear 0.5s;
}
li{
    list-style-type: none;
    margin: 1rem 0rem 1rem;
}

.portada{
    background-image: url(../images/fotobanner.jpg);
    background-size: cover;
    background-repeat: round;
    width: 100%;
    height: 20vh;
}

h1{
    display: flex;
    justify-content: center;
    color: #0a5a5a;
    font-size: 1.8rem
}

main{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main__subt{
    display: flex;
    justify-content: center;
    color: #05599e;
    padding: 1rem 3rem;
}

.color-fucsia{
    color: #b1106e;
    background-color: #4b82af;
}

.info{
    margin-left: 3rem;
    margin-right: 6rem;
}


footer{
    background-color: black;
    color: #4bd8d1e8;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imagenes{
    display: flex;
    justify-content: center;
}

.header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.redes i{
    font-size: 1.5rem;
    color:#37dfd6e8;
    transition: all 0.5s linear 0.3s;
}

@media(min-width: 1024px)
{       
    .portada{
    background-image: url(../images/fotobanner.jpg);
    background-size: cover;
    background-repeat: round;
    width: 100vw;
    height: 50vh; 
    }

    .barraNavegacion li:hover{
    font-size: 2.5rem;
    color: #b1106e;
    }

    .redes i:hover{
    font-size: 2.5rem;
    color: #b1106e;
    }

    .legales{
        display: flex;
        padding: 20px;
        border: 20px;
        margin-left: 100px;
        margin-right: 100px;
        text-align: left;
        grid-area: legales;
    }
    
}